Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [66]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [67]:
#Ваш код здесь
m_cnt = len(np.where( df['gender']=='Male' )[0])
w_cnt = len(np.where( df['gender']=='Female' )[0])

m_cnt, w_cnt, (m_cnt+w_cnt), len(df), m_cnt/(len(df)-m_cnt)

(3555, 3488, 7043, 7043, 1.0192087155963303)

##### 2. Какое количество уникальных значений у поля InternetService?

In [68]:
#Ваш код здесь
inet_unic_cnt = len( df['InternetService'].unique() )
inet_unic_cnt, df['InternetService'].unique()

(3, array(['DSL', 'Fiber optic', 'No'], dtype=object))

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [69]:
np.where( df['TotalCharges'].isna() )[0]

array([], dtype=int64)

In [70]:
np.where( df['TotalCharges'].isnull() )[0]

array([], dtype=int64)

In [71]:
#Ваш код здесь
idx = np.where( df['TotalCharges'] == ' ' )[0]
df.loc[ idx, 'TotalCharges' ] = '0.0'
idx, len(idx), df['TotalCharges'].describe()
# df['TotalCharges'] = df['TotalCharges'].astype(np.float64)

# mn = np.mean(df['TotalCharges'])
# med = np.median(df['TotalCharges'])
# ms = np.std(df['TotalCharges'])

# idx, mn, med, ms

(array([ 488,  753,  936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754]),
 11,
 count     7043
 unique    6531
 top        0.0
 freq        11
 Name: TotalCharges, dtype: object)

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [72]:
#Ваш код здесь
idx = np.where( df['PhoneService'] == 'Yes' )[0]
df.loc[ idx, 'PhoneService' ] = 1
idx = np.where( df['PhoneService'] == 'No' )[0]
df.loc[ idx, 'PhoneService' ] = 0
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,0,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,1,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [73]:
#Ваш код здесь
idx = np.where( df['TotalCharges'] == ' ' )[0]
df.loc[ idx, 'TotalCharges' ] = np.nan
df['TotalCharges'] = df['TotalCharges'].astype(np.float32)
df['TotalCharges'].fillna(0.0, inplace=True ) 
df['TotalCharges'].describe()

count    7043.000000
mean     2279.732178
std      2266.794434
min         0.000000
25%       398.549988
50%      1394.550049
75%      3786.599976
max      8684.799805
Name: TotalCharges, dtype: float64

In [74]:
mn = np.mean(df['TotalCharges'])
med = np.median(df['TotalCharges'])
ms = np.std(df['TotalCharges'])

mn, med, ms

(2279.732177734375, 1394.55, 2266.633544921875)

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [75]:
#Ваш код здесь
idx = np.where( df['Churn'] == 'Yes' )[0]
df.loc[ idx, 'Churn' ] = 1
idx = np.where( df['Churn'] == 'No' )[0]
df.loc[ idx, 'Churn' ] = 0

df['Churn'].describe()

count     7043
unique       2
top          0
freq      5174
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [77]:
#Ваш код здесь
col_nms = ['StreamingMovies', 'StreamingTV', 'TechSupport']
for nm in col_nms:
    print( df[nm].unique() )
    
for nm in col_nms:
    idx = np.where( df[nm] == 'Yes' )[0]
    df.loc[ idx, nm ] = 1
    idx = np.where( df[nm] == 'No' )[0]
    df.loc[ idx, nm ] = 0
    idx = np.where( df[nm] == 'No internet service' )[0]
    df.loc[ idx, nm ] = 0

df[col_nms].describe()

['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']

        StreamingMovies  StreamingTV  TechSupport
count              7043         7043         7043
unique                2            2            2
top                   0            0            0
freq               4311         4336         4999

In [78]:
for nm in col_nms:
    print(df[nm].value_counts())

0    4311
1    2732
Name: StreamingMovies, dtype: int64
0    4336
1    2707
Name: StreamingTV, dtype: int64
0    4999
1    2044
Name: TechSupport, dtype: int64

##### 8. Заполните пропуски в поле PhoneService значением 0

In [26]:
#Ваш код здесь
idx = np.where( df['PhoneService'].isnull() )[0]
idx, df['PhoneService'].describe()

(array([], dtype=int64),
 count     7043
 unique       2
 top          1
 freq      6361
 Name: PhoneService, dtype: int64)

In [27]:
print(df['PhoneService'].value_counts())
print(df['PhoneService'].isna().sum(axis=0))
df.loc[df['PhoneService'] == ' ']

1    6361
0     682
Name: PhoneService, dtype: int64
0

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [28]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [98]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
X = df[features]
y = df[target]
y = y.astype('int') 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=142)

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [99]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [100]:
#Ваш код здесь
gender.fit_transform(X_train)

      gender_Female  gender_Male
2192              0            1
5357              0            1
1585              0            1
1266              1            0
1294              0            1
...             ...          ...
6317              0            1
5146              0            1
4607              0            1
6555              0            1
277               0            1

[5282 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

Нормировка и центрирование выполняется для приведения данных столбца к общему виду без 
искажения диапазона изменения данных.

In [101]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [102]:
#Ваш код здесь
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [103]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [104]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [105]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feature_processing),
    ('classifier', RandomForestClassifier(random_state = 42)),
])
pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 Pipeline(steps=[('feats',
                                  FeatureUnion(transformer_list=[('tenure',
                                                                  Pipeline(steps=[('selector',
                                                                                   NumberSelector(key='tenure')),
                                                                                  ('standard',
                                                                                   StandardScaler())])),
                                                                 ('TotalCharges',
                                                                  Pipeline(steps=[('selector',
                                                                                   NumberSelector(key='TotalCharges')),
                                                                                  ('standard',
                                                                                   StandardScaler())])),
                                                                 ('continuos_features',
                                                                  Pipeline(steps=[('selector',
                                                                                   ColumnSelector(key=['PhoneService',
                                                                                                       'StreamingMovies',
                                                                                                       'StreamingTV',
                                                                                                       'TechSupport']))])),
                                                                 ('gender',
                                                                  Pipeline(steps=[('selector',
                                                                                   ColumnSelector(key='gender')),
                                                                                  ('ohe',
                                                                                   OHEEncoder(key='gender'))]))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [108]:
#Ваш код здесь
y_pred_proba = pipeline.predict_proba(X_test)
y_pred = pipeline.predict(X_test)
y_pred_proba

array([[1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       ...,
       [0.92, 0.08],
       [0.47, 0.53],
       [0.95, 0.05]])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [109]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь
m_ra = roc_auc_score(y_test, y_pred)
m_ll = log_loss(y_test, y_pred)
m_ra, m_ll

(0.671381237006237, 8.257217032723265)

### Сохраним наш пайплайн

In [110]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)